
NODE_ENV=development

PORT=3000

DATABASE=insert mongodb cloud url
DATABASE_LOCAL=insert mongodb local url
DATABASE_PASSWORD=insert mongodb password
DATABASE_USERNAME=insert mongodb username

JWT_SECRET=insert jwt secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=insert mailtrap email username
EMAIL_PASSWORD=insert mailtrap email password
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25

EMAIL_FROM=insert email from

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=insert sendgrid apikey

STRIPE_SECRET_KEY=insert Stripe secret key