extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your Password ? Reset your Password by following the link below: #{url}.
  p (Website for this action under construction)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!